.input-live-search{
            background: white;
            position: absolute;
            width: 46%;
            z-index: 1;
            max-height: 300px;
            overflow-y: auto;
    .input-live-search-list{
        cursor:pointer; 
    }
    .input-live-search-list .card-content{
        padding: .5rem;
    }
    .input-live-search-list:hover{
        background: #e8e8e8;

    }
}